<form [formGroup]="userForm" (ngSubmit)="addUser(createUser)">
    <h2>Create user </h2>

    <div formGroupName="personal">
      <h3> Personal Data </h3>
      <mat-form-field class="example-full-width">
        <input formControlName="name" matInput placeholder="Name">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input formControlName="lastname" matInput placeholder="Lastname">
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <input formControlName="image" matInput placeholder="Image url">
    </mat-form-field>

    <div formGroupName="address">
      <h3> Address </h3>

      <div formGroupName="coordinates">
        <mat-form-field class="example-full-width">
          <input type="number" formControlName="latitude" matInput placeholder="Image url">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="number" formControlName="longitude" matInput placeholder="Image url">
        </mat-form-field>
      </div>

      <mat-form-field class="example-full-width">
        <input formControlName="street" matInput placeholder="Street">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Create new user</button>
</form>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
