:host {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.message {
    padding: 5px 10px;
    border-radius: 5px;
    background: #91eab4;
    display: inline-block;
    margin-bottom: 12px;
}

.message h4, p {
    margin: 2px;
}